@import '../styles/Global.style.css';
.recovery{
    /* border:1px solid red; */
    margin: 0 auto;
    height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
}
.form_container{
    /* border:1px solid red; */
    padding: 16px;
    width: 100%;
}
/* images of form */
.form_img{
    /* border:1px solid red; */
    margin: 48px auto;
    width: 140px;
}
.form_img >.img{
    width: 100%;
    height: auto;
}
.form_title{
    text-align: center;
    /* border:1px solid red; */
    font-size: var(--lg);
    color: var(--black);
    margin-bottom: 16px;

}
.form_subtitle{
    /* border:1px solid red; */
    width: 100%;
    text-align: center;
    font-size: var(--md);
    color: var(--very-light-pink);
    font-weight: 500;
    
}

/* ///////////////////////////// */
/* form structure */
.form{
    /* border:1px solid red; */
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding: 12px;

}
.form_label{
    display: block;
    margin-top: 4px;
    font-weight: 700;
    font-size: var(--sm);
}
.form_input{
    width: 100%;
    height: 32px;
    padding: 4px 0px 4px 8px ;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: var(--text-input-field);
    border:none;
    box-sizing: border-box;
    font-size: var(--md);
}
.primary-button{
    margin-top: 16px;
    width: 100%;
    height: 45px;
    padding:10px ;
    border-radius: 8px;
    border:none;
    box-sizing: border-box;
    color: var(--white);
    font-weight: 700;
    font-size: var(--md);
    background-color: var(--hospital-green);
    cursor: pointer;

}
@media (min-width: 640px){
    .form_img{
        display: none;
    }
    .form_container{
        /* border: 1px solid red; */
        width: 35%;
    }
}
